matplotlib
pint
fastapi
python-multipart
uvicorn
plotly
jinja2
markdown
pygments
requests
soundfile
mimoshape @ git+https://github.com/luchp/mimoshape
audioshape @ git+https://github.com/luchp/audioshape
